/.env
/dataset.json
/ecommerce-faq.json
/experiments
/trained-model

ir
kill_tensorboard.py
/quiz/runs
/quiz/runs_finetunedmodel
runs_basemodel
/hotpotqa
/chroma_db
/embeddings
*.pdf
00-simple-local-rag.ipynb
/vector_store
/old
/chroma-collection
vector_store.zip
elements.pkl
